@model PropertyViewModel
<div class="card custom-card mt-2">
    <div class="card-body row text-center">
        <div class="col border-end">
            <h4 class="font-smallBody">Type</h4>
            <p class="font-h2 mb-0">@(Model.PropertyType ?? "N/A")</p>
        </div>
        <div class="col border-end">
            <h4 class="font-smallBody">Bedrooms</h4>
            <p class="font-h2 mb-0">@(Model.NumOfBedrooms != null ? Model.NumOfBedrooms : "N/A")</p>
        </div>
        <div class="col">
            <h4 class="font-smallBody">Rent</h4>
            <p class="font-h2 mb-0">@(Model.Rent != null ? "£" + Model.Rent + " pcm" : "N/A")</p>
        </div>
    </div>
</div>