@model PropertyViewModel

<h2>Property details</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<div class="my-3">
    <label asp-for="PropertyType" value="@Model.PropertyType" class="form-label">Property type</label>
    <select asp-for="PropertyType" class="form-select" required>
        <option selected disabled value="">Choose a property type</option>
        <option>Top floor flat</option>
        <option>Mid floor flat</option>
        <option>Ground floor flat</option>
        <option>Mid terrace</option>
        <option>End terrace</option>
        <option>Detached</option>
        <option>Semi-detached</option>
    </select>
    <span asp-validation-for="PropertyType" class="text-danger"></span>
</div>
<div class="my-3">
    <label asp-for="NumOfBedrooms" class="form-label">Number of bedrooms</label>
    <input asp-for="NumOfBedrooms" value="@Model.NumOfBedrooms" class="form-control" required/>
    <span asp-validation-for="NumOfBedrooms" class="text-danger"></span>
</div>