@model BricksAndHearts.ViewModels.PropertyInput.PropertyInputModelStep1

<h1 class="font-h1">Address</h1>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="my-3">
        <label asp-for="Address!.AddressLine1" class="form-label">Address Line 1</label>
        <input asp-for="Address!.AddressLine1" class="form-control" required/>
        <span asp-validation-for="Address!.AddressLine1" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Address!.Postcode" class="form-label">Postcode</label>
        <input asp-for="Address!.Postcode" class="form-control" required/>
        <span asp-validation-for="Address!.Postcode" class="text-danger"></span>
    </div>
    @{ await Html.RenderPartialAsync("_PropertyFormButtons", Model); }
</form>