@model PropertyViewModel

@{
    ViewData["Title"] = "Add Property";
}

<h1>Add new property</h1>

<hr/>

@using (Html.BeginForm("AddNewProperty_Continue", "Property", new {step = 2}, FormMethod.Post, null, new { @class = "w-50"}))
{
    <h2>Property details</h2>
    
    <div class="my-3">
        <label asp-for="PropertyType" class="form-label">Property type</label>
        <select asp-for="PropertyType" class="form-select" required>
            <option selected disabled value="">Choose a property type</option>
            <option>Top floor flat</option>
            <option>Mid floor flat</option>
            <option>Ground floor flat</option>
            <option>Mid terrace</option>
            <option>End terrace</option>
            <option>Detached</option>
            <option>Semi-detached</option>
        </select>
        <span asp-validation-for="PropertyType" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="NumOfBedrooms" class="form-label">Number of bedrooms</label>
        <input asp-for="NumOfBedrooms" class="form-control" required/>
        <span asp-validation-for="NumOfBedrooms" class="text-danger"></span>
    </div>
    
    <div class="mt-4">
        <input type="submit" value="Continue" class="btn btn-primary"/>
    </div>
}