@*
@model int

<h2>Add Property Images</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<div class="my-3">
    @using (Html.BeginForm("AddPropertyImages", "Property", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>Please upload images of the property</div>
        <input name="images" type="file" multiple>
        <input type="submit" value="Upload Image" />
    }
</div>
*@
