@model BricksAndHearts.ViewModels.PropertyInput.PropertyInputModelDetails
@{
    Layout = "PropertyInputForm/_LayoutPropertyInputForm";
}
<div class="my-4 py-3">
    <label class="form-label mb-3">What is your property type?<text class="text-danger">*</text></label>

    <div class="form-check">
        <input type="radio" asp-for="PropertyType" value="Detached" id="TypeDetached" class="form-check-input" required>
        <label for="TypeDetached" class="form-check-label">Detached</label>
    </div>
    <div class="form-check">
        <input type="radio" asp-for="PropertyType" value="Semi-detached" id="TypeSemiDetached" class="form-check-input" required>
        <label for="TypeSemiDetached" class="form-check-label">Semi-detached</label>
    </div>
    <div class="form-check">
        <input type="radio" asp-for="PropertyType" value="Top floor flat" id="TypeTopFlat" class="form-check-input" required>
        <label for="TypeTopFlat" class="form-check-label">Top floor flat</label>
    </div>
    <div class="form-check">
        <input type="radio" asp-for="PropertyType" value="Mid floor flat" id="TypeMidFlat" class="form-check-input" required>
        <label for="TypeMidFlat" class="form-check-label">Mid floor flat</label>
    </div>
    <div class="form-check">
        <input type="radio" asp-for="PropertyType" value="Ground floor flat" id="TypeGroundFlat" class="form-check-input" required>
        <label for="TypeGroundFlat" class="form-check-label">Ground floor flat</label>
    </div>
    <div class="form-check">
        <input type="radio" asp-for="PropertyType" value="Mid terrace" id="TypeMidTerrace" class="form-check-input" required>
        <label for="TypeMidTerrace" class="form-check-label">Mid terrace</label>
    </div>
    <div class="form-check">
        <input type="radio" asp-for="PropertyType" value="End terrace" id="TypeEndTerrace" class="form-check-input" required>
        <label for="TypeEndTerrace" class="form-check-label">End terrace</label>
    </div>
</div>

<div class="my-4 py-3">
    <label asp-for="NumOfBedrooms" class="form-label">Number of bedrooms<text class="text-danger">*</text></label>
    <input asp-for="NumOfBedrooms" class="form-control" min="0" required/>
    <span asp-validation-for="NumOfBedrooms" class="text-danger"></span>
</div>

<div class="my-4 py-3">
    <label asp-for="Rent" class="form-label">Rent amount<text class="text-danger">*</text></label>
    <div class="input-group">
        <span class="input-group-text">£</span>
        <input asp-for="Rent" class="form-control" min="0" required/>
        <span class="input-group-text">per month</span>
    </div>
    <span asp-validation-for="Rent" class="text-danger"></span>
</div>