@model BricksAndHearts.ViewModels.PropertyInput.PropertyInputModelTenantPreferences
@{
    Layout = "PropertyInputForm/_LayoutPropertyInputForm";
}
<div class="my-4 py-3">
    <label class="form-label mb-3">Select all that apply:<text class="text-danger">*</text></label>

    <div class="row g-3">
        <div class="col-auto d-grid">
            <input type="checkbox" asp-for="AcceptsSingleTenant" class="btn-check"/>
            <label asp-for="AcceptsSingleTenant" class="btn btn-outline-blue shadow-none pill-check">Single tenant</label>
        </div>
        <div class="col-auto d-grid">
            <input type="checkbox" asp-for="AcceptsCouple" class="btn-check"/>
            <label asp-for="AcceptsCouple" class="btn btn-outline-blue shadow-none pill-check">Couple</label>
        </div>
        <div class="col-auto d-grid">
            <input type="checkbox" asp-for="AcceptsFamily" class="btn-check"/>
            <label asp-for="AcceptsFamily" class="btn btn-outline-blue shadow-none pill-check">Family (3+)</label>
        </div>
    </div>
</div>

<div class="my-4 py-3">
    <label class="form-label">Will you accept tenants with pets?<text class="text-danger">*</text></label>

    <div class="form-check">
        <input type="radio" asp-for="AcceptsPets" value="true" id="PetsTrue" class="form-check-input" required>
        <label for="PetsTrue" class="form-check-label">Yes</label>
    </div>
    <div class="form-check">
        <input type="radio" asp-for="AcceptsPets" value="false" id="PetsFalse" class="form-check-input" required>
        <label for="PetsFalse" class="form-check-label">No</label>
    </div>
</div>

<div class="my-4 py-3">
    <label class="form-label">Will you accept tenants:</label>
    <div class="form-check">
        <input type="checkbox" asp-for="AcceptsCredit" class="form-check-input"/>
        <label asp-for="AcceptsCredit" class="form-check-label">
            on Universal Credit?
        </label>
    </div>
    <div class="form-check">
        <input type="checkbox" asp-for="AcceptsBenefits" class="form-check-input"/>
        <label asp-for="AcceptsBenefits" class="form-check-label">
            on Housing Benefits?
        </label>
    </div>
    <div class="form-check">
        <input type="checkbox" asp-for="AcceptsNotInEET" class="form-check-input"/>
        <label asp-for="AcceptsNotInEET" class="form-check-label">
            not in EET (Employment, Education, or Training)?
        </label>
    </div>
    <div class="form-check">
        <input type="checkbox" asp-for="AcceptsWithoutGuarantor" class="form-check-input"/>
        <label asp-for="AcceptsWithoutGuarantor" class="form-check-label">
            without a rent guarantor?
        </label>
    </div>
    <div class="form-check">
        <input type="checkbox" asp-for="AcceptsUnder35" class="form-check-input"/>
        <label asp-for="AcceptsUnder35" class="form-check-label">
            that are under 35?
        </label>
    </div>
</div>