<div class="card custom-card mt-2">
    <div class="card-body">
        <div class="collapse" id="faqCollapse">
            <strong>As a tenant, what references do I need to provide to move into a property?</strong>
            <p>References will depend on the Landlord’s criteria. These references can be emailed to the Landlord with the support of a Change Ahead volunteer.</p>
            <strong>What is the minimum tenancy agreement on any accommodation?</strong>
            <p>Minimum of 6 months</p>
            <strong>Does the landlord have to be a member of the Change Ahead Housing Charter to list a property?</strong>
            <p>Yes, the Landlord must be an approved member of the Change Ahead Housing Charter to ensure the safety of their properties meet the Government’s published social housing white paper -The Charter for Social Housing Residents.</p>
            <strong>As a landlord, how do I apply for the Change Ahead Charter?</strong>
            <p>Email housing@changeahead.org.uk with Reference “Bricks & Hearts Membership”</p>
            <strong>Is the platform free to use for the tenant?</strong>
            <p>Yes, the platform is free for anyone looking for long term accommodation.</p>
            <strong>As a tenant, when will I be notified about date and time of property viewings?</strong>
            <p>A Change Ahead volunteer from the Housing Team will contact you with regards to viewing appointments. They will support you in all communications with the landlord up until move in date. </p>
            <strong>What happens after a tenant moves in but needs support?</strong>
            <p>A Change Ahead volunteer will check in to see how we can support the tenant in employment, training and education opportunities, financial and health advice.</p>
            <strong>Once the tenant and landlord have been matched, does the property listing disappear?</strong>
            <p>Yes</p>
            <strong>As a landlord, how do I allocate the space to a tenant?</strong>
            <p>This will be matched by a Change Ahead volunteer and will be waiting for your approval.</p>
            <strong>As a user of the App what measures are in place to ensure there is trust and safety along the process?</strong>
            <p>Landlords are only permitted to list their properties on the platform because they have committed to the Change Ahead Housing Charter. They have agreed to be accountable for ensuring the safety of their properties and empowering tenants to have a voice. The Change Ahead volunteers have Disclosure and Barring Service certification to ensure they are clear from criminal records.</p>
        </div>
        <a class="collapsed" role="button" data-bs-toggle="collapse" href="#faqCollapse"></a>
    </div>
</div>