@model dynamic

@{
    @ViewData["Title"]
}

<!DOCTYPE html>

<html>
<head>
    <title>Contact Us</title>
</head>
<body>
<div>
    <h1>Contact Us</h1>
    <br/>
    <div>
        <label> 
        </label>
        <a href="https://twitter.com/changeaheaduk"><i class="bi bi-twitter"></i></a>
        <a href="https://www.linkedin.com/company/changeaheaduk/"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.facebook.com/changeahead.org/"><i class="bi bi-facebook"></i></a>
        <a href="https://www.tiktok.com/"><i class="bi bi-tiktok"></i></a>
        <a href="https://www.instagram.com/accounts/login/?next=/changeahead.org.uk/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UC0gZrrMIzBCfUMPnf4EOmzA"><i class="bi bi-youtube"></i></a>
        <a href="https://www.changeahead.org.uk/#"><i class="bi bi-envelope-fill"></i></a>
    </div>
</div>
</body>
</html>