@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bricks & Hearts</h1>
    <p>Welcome to Bricks & Hearts.</p>
    <p>Under construction for <a href="https://www.changeahead.org.uk/">Change Ahead</a></p>
    <p>This is a (work in progress) portal for landlords to manage properties they would like to make available to disadvantaged tenants looking social housing.</p>
    @{
        if (Model.IsLoggedIn)
        {
            <p>
                Logged in as @Model.UserName
            </p>
            <a class="btn btn-success" asp-controller="LandlordRegistration" asp-action="Index">Register as a Landlord</a>
        }
        else
        {
            <a class="btn btn-primary" href="@Url.Action("Index", "Login")">Login with Google</a>
        }
    }
</div>