@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


@if (Model.IsLoggedIn)
{
    <div class="container-fluid text-center">
        <div class="row mb-4">
            <h2>Welcome to</h2>
            <statistics class="display-4">Bricks & Hearts</statistics>
        </div>
        <div class="row mb-4">
            <h1>Sign up as</h1>
        </div>
        <div class="row mb-4"></div>
        <div class="row mb-2">
            <div class="col-lg"></div>
            <div class="col-lg-3 d-flex justify-content-center">
                <div class="card card-home rounded-custom">
                    <div class="card-body"></div>
                    <i class="bi bi-person bi-register"></i>
                    <div class="card-body"></div>
                    <div class="card-text-home rounded-custom">
                        <p></p>
                        <a class="btn btn-outline-blue stretched-link" asp-controller="Landlord" asp-action="RegisterGet">Landlord</a>
                        <p class="card-text font-smallBody px-2">List your properies and be matched with potential tenants.</p>
                    </div>    
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center">
                <div class="card card-home rounded-custom">
                    <div class="card-body"></div>
                    <i class="bi bi-person bi-register"></i>
                    <div class="card-body"></div>
                    <div class="card-text-home rounded-custom">
                        <p></p>
                        @using (Html.BeginForm("RequestAdminAccess", "Admin", FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-outline-blue stretched-link">Admin</button>
                        }
                        <p class="card-text font-smallBody px-2">View all landlords, properties and tenants and create matches.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg"></div>
        </div>    
    </div>
}

 else
{
    <div class="container-fluid text-center">
        <div class="row mb-4">
            <h2>Welcome to</h2>
            <statistics class="display-4">Bricks & Hearts</statistics>
        </div>
        <div class="row mb-4">
            <h1>Please sign in with Google</h1>
        </div>
        <div class="row mb-4"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-3 d-flex justify-content-center">
                <div class="card card-home rounded-custom">
                    <div class="card-body"></div>
                    <i class="bi bi-person bi-register"></i>
                    <div class="card-body"></div>
                    <div class="card-text-home rounded-custom">
                        <p></p>
                        <a class="btn btn-outline-blue stretched-link" href="@Url.Action("Google", "Login")">Login with Google</a>
                        <p></p>
                    </div>    
                </div>
            </div>
            <div class="col"></div>
        </div>    
    </div>
    
}