:root {
    --blue: #3A67C7;
    --darkOrange: #DD5050;
    --orange: #FF5757;
    --lightOrange: #FF9595;
    --black: #000000;
    --paleBlue: #ECF2FF;
    --paleOrange: #FFEEEE;
    --white: #FFFFFF;
    --red: #C0392B
}

html {
    font-size: 14px;
}

html *{
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.test {
    display: table-cell;
    padding-right: 3%;
}

.form-group my-3 {
    display: table;
}

.btn-primary {
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-outline-primary {
    border-color: var(--orange);
    color: var(--orange)
}

.btn-primary:hover {
    background-color: var(--darkOrange);
    border-color: var(--orange);
}

.btn-outline-primary:hover {
    background-color: var(--darkOrange);
    border-color: var(--orange);
    color: var(--white);
}

.btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: var(--orange);
    border-color: var(--orange);
    outline-color: var(--lightOrange);
    box-shadow: 0 0 0 3px var(--lightOrange);
}

.btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus {
    background-color: var(--orange);
    border-color: var(--orange);
    outline-color: var(--lightOrange);
    box-shadow: 0 0 0 3px var(--lightOrange);
    color: var(--white);
}

.btn-danger{
    background-color: var(--red);
    border-color: var(--red);
}

.form-control {
    border-color: var(--blue);
}

/*font classes*/
.font-logo {
    font-size: 24px;
    font-weight: bolder;
}

.font-navText {
    font-size: 18px;
}

.font-statistics {
    font-size: 48px;
}

.font-h1 {
    font-size: 32px;
}

.font-h2 {
    font-size: 20px;
    font-weight: bold;
}

.font-h3 {
    font-size: 20px;
}

.font-body {
    font-size: 18px;
}

.font-smallBody {
    font-size: 16px;
}

.font-subtitle {
    font-size: 12px;
}
/*end font classes*/

/*Javascript form styling:*/
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.registerTab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--paleOrange);
    border: none;
    border-radius: 50%;
    display: inline-block;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: var(--orange);
    opacity: 50%;
}

/* Mark the active step: */
.step.active {
    background-color: var(--orange);
    opacity: 100%;
}

/*End of javascript form styling*/

.tables {
    display: inline-block;
    clear: both;
}

.tables .table {
    width: 100%;
}

.hidden-button {
    display: none;
}

.bi {
    cursor: pointer;
}

.narrow-form {
    max-width: 40rem;
}

.pill-radio, .pill-check {
    border-radius: 0.75rem !important;
}

.pill-check i {
    display: none;
}

input:checked + .pill-check i {
    display: inline-block;
}

.icon-link {
    text-decoration: none;
}