:root {
    --blue: #3A67C7;
    --darkOrange: #DD5050;
    --orange: #FF5757;
    --lightOrange: #FF9595;
    --black: #000000;
    --paleBlue: #ECF2FF;
    --paleOrange: #FFEEEE;
    --white: #FFFFFF;
    --red: #C0392B;
    --blue50: #9db3e3;
}

html {
    font-size: 14px;
}

html * {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

a, .nav-link {
    color: var(--blue);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-image: url("../images/backgroundHouses.jpg");
}

.test {
    display: table-cell;
    padding-right: 3%;
}

.form-group my-3 {
    display: table;
}

.btn-large {
    width: 200px;
    height: 60px;
    font-size: 18px;
}

.btn-thin {
    width: 140px;
    height: 40px;
}

.btn-primary {
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-submit {
    width: 360px;
    height: 64px;
}

.btn-outline-primary {
    border-color: var(--orange);
    color: var(--orange);
    background: white;
}

.btn-primary:hover {
    background-color: var(--darkOrange);
    border-color: var(--orange);
}

.btn-outline-primary:hover {
    background-color: var(--darkOrange);
    border-color: var(--orange);
    color: var(--white);
}

.btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: var(--orange);
    border-color: var(--orange);
    outline-color: var(--lightOrange);
    box-shadow: 0 0 0 3px var(--lightOrange);
}

.btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus {
    background-color: var(--orange);
    border-color: var(--orange);
    outline-color: var(--lightOrange);
    box-shadow: 0 0 0 3px var(--lightOrange);
    color: var(--white);
}

.btn-outline-blue {
    border-color: var(--blue);
    color: var(--blue);
    background: white;
}

.btn-outline-blue:hover, .btn-outline-blue:focus, .btn-outline-blue:active, .btn-outline-blue:active:focus, .btn-check:checked + .btn-outline-blue, .btn-check:active + .btn-outline-blue, .btn-outline-blue.active, .btn-outline-blue.dropdown-toggle.show {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

.btn-danger {
    background-color: var(--red);
    border-color: var(--red);
}

.btn.disabled {
    background-color: grey;
    border-color: grey;
}

.statbox-icon{
    color: var(--blue);
    background-color: var(--paleBlue);
    font-size: 80px;
    text-align: center;
}

.card-stat{
    width: 90%;
    height: 100%;
    background-color: var(--white);
}

.card-home{
    width: 80%;
    height: 100%;
    background-color: var(--blue);
}

.bi-register{
    font-size: 85px;
    background-color: var(--blue);
    color: var(--white)
}

.card-text-home{
    width: 100%;
    height: 40%;
    background-color: var(--white)
}

.rounded-custom {
    border-radius: 10px;
}

.form-control, .form-select, .input-group {
    border-color: var(--blue);
    height: 64px;
    width: 360px;
}

.input-group-text {
    border-color: var(--blue);
    background-color: var(--paleBlue);
}

.form-check {
    margin-bottom: 0.7rem;
}

.form-check-input {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    margin-top: 0.1rem;
    border-width: 2px;
    border-color: var(--blue);
}

.form-check-input:checked {
    background-color: var(--blue);
    border-color: var(--blue);
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

.textarea-description {
    height: 300px;
}

.icon-lg {
    font-size: 100px;
    text-align: left;
}

/*font classes*/
.font-logo {
    font-size: 24px;
    font-weight: bolder;
}

.font-navText {
    font-size: 18px;
}

.font-statistics {
    font-size: 48px;
}

.font-h1 {
    font-size: 32px;
}

.font-h2 {
    font-size: 20px;
    font-weight: bold;
}

.font-h3 {
    font-size: 20px;
}

.font-body {
    font-size: 18px;
}

.font-smallBody {
    font-size: 16px;
}

.font-subtitle {
    font-size: 12px;
}

.font-orange {
    color: var(--orange)
}

.font-blue {
    color: var(--blue)
}

/*end font classes*/

.form-label {
    font-size: 20px;
}

/*Javascript form styling:*/
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.registerTab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 32px;
    width: 32px;
    background-color: var(--paleOrange);
    border-radius: 50%;
    display: inline-block;
    color: var(--white);
    z-index: 1000;
    text-align: center;
    line-height: 175%;
}

/* Make lines connecting the steps*/
.stepline {
    height: 4px;
    width: 25%;
    margin-top: 14px;
    margin-left: -0.1%;
    margin-right: -0.1%;
    background-color: var(--paleOrange);
    display: inline-block;
    z-index: 0;
}

/* Mark the steps that are finished and valid: */
.step.finish, .stepline.finish {
    background-color: var(--lightOrange);
}

/* Mark the active step: */
.step.active {
    background-color: var(--orange);
    box-shadow: 0 0 0 3px var(--lightOrange);
}

.property-steps .stepline {
    width: 10%;
}

/*End of javascript form styling*/

.tables {
    display: inline-block;
    clear: both;
}

.tables .table {
    width: 100%;
}

.hidden-button {
    display: none;
}

.pill-radio, .pill-check {
    border-radius: 0.75rem !important;
    height: 44px;
    width: 132px;
    line-height: 30px;
}

.pill-check i {
    display: none;
}

input:checked + .pill-check i {
    display: inline-block;
}

.icon-link {
    text-decoration: none;
}

/* Navbar */
.navbar-primary a {
    text-transform: uppercase;
}

.navbar-primary a.btn {
    text-transform: none;
}

.navbar-secondary {
    background-color: var(--blue) !important;
}

.navbar-secondary .vr {
    color: var(--paleBlue);
    width: 2px;
    opacity: 30%;
}

.navbar-brand {
    color: var(--blue) !important;
}

/* Tables */
table {
    border-style: solid;
    border-color: var(--blue) !important;
    background: white;
}

td, th {
    border-width: 1px;
    border-color: var(--blue50);
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

th {
    color: var(--blue);
    font-weight: normal;
}

.table-maxheight {
    overflow-y: auto;
    max-height: 200px;
}

.bg-pale-blue {
    background-color: var(--paleBlue) !important;
}

.profile-photo-lg {
    height: 80px;
}

.profile-photo-sm {
    height: 43px;
}

.profile-photo-lg img, .profile-photo-sm img {
    height: 100%;
    width: auto;
    clip-path: circle();
}

@media (min-width: 1200px) {
    .property-img-row {
        margin-right: 15rem !important;
    }
}

.property-img-lg img, .property-img-sm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.property-img-lg:hover img, .property-img-sm:hover img {
    filter: brightness(75%);
}

.property-img-lg {
    max-height: 375px;
    max-width: 688px;
    height: 100%;
    display: block;
}

.property-img-sm {
    height: 176px;
    display: block;
}

.property-img-sm:first-child {
    margin-bottom: 23px;
}

.property-img-sm-col {
    display: none;
}

@media (min-width: 576px) {
    .property-img-sm-col {
        display: block;
    }
}

.property-img-overlay {
    position: relative;
}

.property-img-overlay img {
    filter: brightness(40%);
}

.property-img-overlay:hover img {
    filter: brightness(30%);
}

.property-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.statBox {
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-overlay {
    filter: brightness(50%);
}

.status-pill-live {
    background-color: limegreen;
    color: white;
}

.status-pill-draft {
    background-color: gold;
    color: black;
}

.status-pill-occupied {
    background-color: var(--red);
    color: white;
}

.status-pill-unavailable {
    background-color: grey;
    color: white;
}

.custom-card {
    border-color: var(--paleBlue);
    border-width: 2px;
    border-radius: 1rem;
}

.mw-60 {
    max-width: 60%;
}

.property-description {
    white-space: pre-line;
}

#descriptionCollapse.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}

#descriptionCollapse.collapsing {
    height: 3rem;
}

#descriptionCollapse + a.collapsed::after {
    content: "Read more";
}

#descriptionCollapse + a:not(.collapsed)::after {
    content: "Read less";
}

.placeholder-glow {
    background-color: white;
}

.placeholder {
    color: black;
    border-radius: 0.5rem;
}
