@model StatBoxModel

<div class="row rounded-custom mb-3 mx-0 p-2 statBox">
    <div class="col-auto mx-2 p-0 my-auto">
        <h1 class="mb-0">
            <i class="bi @Model.IconName statbox-icon px-2"></i>
        </h1>
    </div>
    <div class="col-auto">
        <h1 class="font-statistics">
            @Model.Stat
        </h1>
        <p class="font-smallBody">@Model.StatDescription</p>
    </div>
</div>