@model PaginationModel

@{
    var from = (Model.Page - 1) * Model.ItemsPerPage + 1;
    var to = Math.Min((Model.Page - 1) * Model.ItemsPerPage + Model.ItemsPerPage, Model.Total);
}

@if (Model.ItemsOnPage > 0)
{
    <p>Displaying @Model.TypeOfData @from to @to of @Model.Total</p>
}

@if (Model.Page > 1)
{
    <a type="button" class="btn btn-outline-primary" href="@Model.HrefPrevious">Previous</a>
}

@if (Model.Page <= (Model.Total - 1) / Model.ItemsPerPage)
{
    <a type="button" class="btn btn-outline-primary" href="@Model.HrefNext">Next</a>
}