@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Error Code: @Model.RequestId</strong> <code>@Model.StatusName</code>
    </p>
    <p>
        <code>@Model.StatusMessage</code>
    </p>
}
