@model LandlordDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}


<div>
    <div class="row">
        <div class="col-1">
            @* TODO BNH-99: Replace icon with profile picture *@
            <img alt="profile picture" src="https://www.pngarts.com/files/10/Default-Profile-Picture-Transparent-Image.png" width="100" height="100" class="rounded-circle img-thumbnail img-fluid"/>
        </div>
        <div class="col-3">
            <div class="row">
                <h6 class = "font-body">Hello</h6>
                <h2 class = "font-blue font-h1">@Model.CurrentLandlord.FirstName</h2>
                @if (Model.CurrentLandlord.NumOfProperties > 0)
                {
                    <h6 class = "font-body">View your properties</h6>
                    <div>
                        <a class="btn btn-primary btn-lg mt-3 align-middle" href='@Url.Action("ViewProperties", "Landlord", new{id = Model.CurrentLandlord.LandlordId})'>View Properties</a>
                    </div>
                }
                else
                {
                    <h6 class = "font-body">Start adding your properties to the portal, to get matches</h6>
                    <div>
                        <a class="btn btn-primary btn-lg mt-3 align-middle" href='@Url.Action("AddNewProperty_Begin", "Property", null)'>Add Properties</a>
                    </div>
                }
                @if (!Model.CurrentLandlord.CharterApproved)
                {
                    <p class="font-subtitle font-orange mt-1">
                        *your properties won't go live until the ChangeAhead charter signup has been approved by the ChangeAhead admins. You can still add and update draft properties before then.
                    </p>   
                }
            </div>
        </div>
        <div class="col 3">
            <row>
                <h6 class="font-h3">My Stats</h6>
            </row>
            @if (Model.CurrentLandlord.CharterApproved)
            {
                await Html.RenderPartialAsync("_DashboardStatsBoxPartial", new StatBoxModel
                {
                    IconName = "bi-check",
                    Stat = "Approved",
                    StatDescription = "Charter Approval State"
                });
            }
            else
            {
                await Html.RenderPartialAsync("_DashboardStatsBoxPartial", new StatBoxModel
                {
                    IconName = "bi-x",
                    Stat = "Not Approved",
                    StatDescription = "Charter Approval State"
                });
            }
            @{ await Html.RenderPartialAsync("_DashboardStatsBoxPartial", new StatBoxModel{IconName = "bi-house",
                Stat = Model.PropertyTypeCount!.RegisteredProperties.ToString(),
                StatDescription = "Total Properties"}); }
            @{ await Html.RenderPartialAsync("_DashboardStatsBoxPartial", new StatBoxModel{IconName = "bi-house-door",
                Stat = Model.PropertyTypeCount.AvailableProperties.ToString(),
                StatDescription = "Available Properties"}); }
            @{ await Html.RenderPartialAsync("_DashboardStatsBoxPartial", new StatBoxModel{IconName = "bi-house-heart",
                Stat = Model.PropertyTypeCount.LiveProperties.ToString(),
                StatDescription = "Live Properties"}); }
        </div>
        <div class="col-4">
            <row>
                <h6 class="font-h3">My Properties</h6>
            </row>
            @foreach(var property in Model.Properties!)
                {
                    <row>
                        @{ await Html.RenderPartialAsync("_DashboardPropertyDisplayPartial", property); }
                    </row>
                }
            <div>
                <a class="btn btn-outline-primary mt-3 align-middle" href='@Url.Action("ViewProperties", "Landlord", new{id = Model.CurrentLandlord.LandlordId})'>View All</a>
            </div>
        </div>
    </div>
</div>