@model LandlordProfileModel

@{
    ViewData["Title"] = "Edit Profile";
}
<h1>Edit your Landlord Profile</h1>

<hr/>
<!-- Circles which indicates the steps of the form: -->
<div class="d-flex justify-content-center">
    <span class="step"></span>
    <span class = "stepline"></span>
    <span class="step"></span>
    <span class = "stepline"></span>
    <span class="step"></span>
    <span class = "stepline"></span>
    <span class="step"></span>
</div>

<div class="row">
    <form method="post" asp-controller="Landlord" asp-action="EditProfileUpdate" id="landlordEntry">
        <div asp-validation-summary="All" class="text-danger"></div>
        @Html.HiddenFor(l=>l.LandlordId, new{value = Model.LandlordId})
        @{ await Html.RenderPartialAsync("_RegisterPagePartial", Model); }
    </form>
</div>