@model LandlordProfileModel

@{
    ViewData["Title"] = "Details";
}

<div class="row py-3 mx-2">
    <div class="col-sm-1 profile-photo">
        <img src="https://www.softwire.com/wp-content/uploads/2019/07/Gareth-J-Final-Head-Shot.jpg" class="img-fluid" alt="profile picture">
    </div>
    <div class="col-sm my-auto">
        <h1 class="font-h1 font-blue">Gareth</h1>
        <div class="font-h3">Profile type: Landlord</div>
    </div>
</div>

<div class="row mx-2">
    <div class="col-sm">
        <div class="mb-4">
            <h3 class="font-h3">Personal details</h3>
            <table class="table">
                <tr>
                    <th class="w-25">First name</th>
                    <td>Gareth</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>Johnson</td>
                </tr>
            </table>
        </div>

        <div class="mb-4">
            <h3 class="font-h3">Address</h3>
            <table class="table">
                <tr>
                    <th class="w-25">Address</th>
                    <td>
                        adr1,<br/>
                        adr2,<br/>
                        adr3,<br/>
                        town/city,<br/>
                        county<br/>
                        postcode<br/>
                    </td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>Softwire</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="col-sm">
        <div class="mb-4">
            <h3 class="font-h3">Contact</h3>
            <table class="table">
                <tr>
                    <th class="w-25">Email</th>
                    <td>gareth@gmail.com</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>0123456789</td>
                </tr>
            </table>
        </div>

        <div class="mb-4">
            <h3 class="font-h3">Type</h3>
            <table class="table">
                <tr>
                    <th class="w-25">Nature</th>
                    <td>Registered landlord</td>
                </tr>
                <tr>
                    <th>Sector</th>
                    <td>Non-profit</td>
                </tr>
            </table>
        </div>

        <div class="mb-4">
            <h3 class="font-h3">Charter</h3>
            <table class="table">
                <tr>
                    <th class="w-25">Status</th>
                    <td>Approved</td>
                </tr>
                <tr>
                    <th>Membership ID</th>
                    <td>MK656U</td>
                </tr>
            </table>
        </div>
    </div>
</div>