@using BricksAndHearts.Auth
@model PropertiesDashboardViewModel

@{
    ViewData["Title"] = "Properties";
}

<div class="mx-md-5">
    <h1 class="font-h1 mt-5">
        @if (Model.Owner == null)
        {
            @("Landlord's properties")
        }
        else if (Model.Owner.LandlordId == ((BricksAndHeartsUser)User.Identity!).LandlordId)
        {
            @("My properties")
        }
        else
        {
            @(Model.Owner.FirstName + "'s properties")
        }
    </h1>

    <div class="row mt-4">
        @* Sorting and filtering goes here *@

        <div class="col-auto ms-sm-auto">
            <a asp-controller="Property" asp-action="AddNewProperty_Begin" asp-route-landlordId="@Model.Owner?.LandlordId" class="btn btn-primary">Add new property</a>
        </div>
    </div>

    <partial name="../Property/_PropertyTable"/>
</div>