@model LandlordProfileModel

@{
    ViewData["Title"] = "Register";
}

<!-- Circles which indicates the steps of the form: -->
<div class="d-flex my-5">
    <span class="step">1</span>
    <span class="stepline"></span>
    <span class="step">2</span>
    <span class="stepline"></span>
    <span class="step">3</span>
    <span class="stepline"></span>
    <span class="step">4</span>
</div>

<div class="mb-4">
    <a href="#" id="prevBtn" onclick="nextPrev(-1)">&lt; Back</a>
</div>

@if (!Model.Unassigned)
{
    <h1 class="font-h1">Register as a landlord</h1>
}
else
{
    <h1 class="font-h1">Create a new landlord</h1>
}

<form method="post" asp-controller="Landlord" asp-action="RegisterPost" id="landlordEntry">
    <div asp-validation-summary="All" class="text-danger"></div>
    @{ await Html.RenderPartialAsync("_RegisterPagePartial", Model); }
</form>