@model LandlordProfileModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register as Landlord</h1>

@if (!Model.Unassigned)
{
    <p>Tell us a bit about yourself</p>
}
else
{
    <p>Tell us a bit about the landlord</p>
}

<hr/>

<!-- Circles which indicates the steps of the form: -->
<div class="d-flex justify-content-center">
    <span class="step"></span>
    <span class = "stepline"></span>
    <span class="step"></span>
    <span class = "stepline"></span>
    <span class="step"></span>
    <span class = "stepline"></span>
    <span class="step"></span>
</div>

<div class="row">
    <form method="post" asp-controller="Landlord" asp-action="RegisterPost" id="landlordEntry">
        <div asp-validation-summary="All" class="text-danger"></div>
        @{ await Html.RenderPartialAsync("_RegisterPagePartial", Model); }
    </form>
</div>