@model LandlordProfileModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register as Landlord</h1>

<p>Tell us a bit about yourself</p>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Landlord" asp-action="RegisterPost" id="landlordEntry">
        <div asp-validation-summary="All" class="text-danger"></div>
            @{ await Html.RenderPartialAsync("_RegisterPagePartial", Model); }
        </form>
    </div>
</div>