@model AdminListModel

@{
    ViewData["Title"] = "Admin List";
}

<div class="tables">
    <h2>Pending Admins</h2>
    <table class="display table" id="pendingAdminTable">
        <thead>
        <tr>
            <th scope="col">Google Email</th>
            <th scope="col">Google Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pendingAdmin in Model.PendingAdmins)
        {
            <tr>
                <td>@pendingAdmin.GoogleEmail</td>
                <td>@pendingAdmin.GoogleUserName</td>
                <td>
                    @using (Html.BeginForm("AcceptAdminRequest", "Admin", new { userToAcceptId = pendingAdmin.Id }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-outline-success">Accept</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("RejectAdminRequest", "Admin", new { userToRejectId = pendingAdmin.Id }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-outline-danger">Reject</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
    <h2>Current Admins</h2>
    <table class="display table" id="adminTable">
        <thead>
        <tr>
            <th scope="col">Google Email</th>
            <th scope="col">Google Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var currentAdmin in Model.CurrentAdmins)
        {
            <tr>
                <td>@currentAdmin.GoogleEmail</td>
                <td>@currentAdmin.GoogleUserName</td>
                <td>
                    @using (Html.BeginForm("RemoveAdmin", "Admin", new { userToRemoveId = currentAdmin.Id }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-outline-danger">Revoke admin rights</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>