@model AdminViewModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    @{
        if (TempData["FlashMessage"] != null && TempData["FlashType"] != null)
        {
            <div class="alert alert-@TempData["FlashType"]" role="alert">
                @TempData["FlashMessage"]
            </div>
        }
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{
        if (Model.CurrentUser != null)
        {
            <p>
                Logged in as @Model.CurrentUser.GoogleName
            </p>
            <a asp-action="RegisterGet" asp-controller="Landlord" asp-route-createUnassigned="true">Create Unassigned Landlord</a>
            if (Model.CurrentUser.IsAdmin)
            {
                <p>You are an admin :)</p>
                <a asp-action="AdminList" asp-controller="Admin"><i class="bi bi-card-list"></i>View Admin List & Pending Admins</a>
            }
            else
            {
                <p>You are not an admin :(</p>
                @if (Model.CurrentUser.HasRequestedAdmin)
                {
                    @using (Html.BeginForm("CancelAdminAccessRequest", "Admin", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-danger">Cancel Admin Access Request</button>
                    }
                }
                else
                {
                    @using (Html.BeginForm("RequestAdminAccess", "Admin", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-primary">Request Admin Access</button>
                    }
                }
            }
        }
        else
        {
            <a href="@Url.Action("Google", "Login")">Login</a>
        }
    }
    @using (Html.BeginForm("ImageUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        <div>Please select an image to upload</div>
        <input name="images" type="file">
        <input type="submit" value="Upload Image" />
    }
</div>