@using System.Net
@using System.Formats.Asn1
@model AdminViewModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    @{
        if ((TempData["FlashMessage"] != null)&&(TempData["FlashType"]!=null))
        {
            <div class="alert alert-@TempData["FlashType"]" role="alert">
                @TempData["FlashMessage"]
            </div>
        }
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{
        if (Model.CurrentUser != null)
        {
            <p>
                Logged in as @Model.CurrentUser.GoogleName
            </p>
            if (Model.CurrentUser.IsAdmin)
            {
                <p>You are an admin :)</p>
            }
            else
            {
                <p>You are not an admin :(</p>
                @using (Html.BeginForm("RequestAdminAccess", "Admin", FormMethod.Post))
                {
                    <button type="submit" class="btn btn-primary">Request Admin Access</button>
                }
            }
        }
        else
        {
            <a href="@Url.Action("Google", "Login")">Login</a>
        }


    }
</div>