@model TenantMatchListModel

@{
    ViewData["Title"] = "Tenant List";
}

<h2 class="font-h1">Selected property</h2>
<partial name="~/Views/Admin/_MatchListPropertyViewPartial.cshtml" model="@Model.LandlordAndProperty"/>
<h2 class="font-h1">Matching tenants</h2>
<partial name="~/Views/Admin/_MatchListTable.cshtml"/>